  <p>
    <strong>Skrevet av:</strong>
    <%= review.reviewer_id %>
  </p>

  <p>
    <strong>Anmeldelse:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Poeng:</strong>
    <%= review.rating %>
  </p>
